<app-header></app-header>

<!--text: Fund your goals -->
<div style="display:flex;">
  <div
    style="
      font-size: 70px;
      font-display: block;
      font-weight: 300;
      font-style: normal;
      margin-left: 80px;
      margin-top: 50px;
    "
  >
    Start funding<br />your dreams<br />
    today.

    <button
    type="button" class="btn btn-primary"
      style="
        margin-left: 20px;
        margin-top: 40px;
        background-color: #03dac5;
        font-size: 50px;
        border-radius: 20px;
        border: 2px solid #03dac5;
      "
    >
      GET STARTED
    </button>
  </div>
    
  

  <div
  style="margin-top: 20px"
>
  <img src="assets/HomePagePig.png" width="500px" />
</div>
</div>


