<!DOCTYPE html>
<html>
<head>
<style>
</style>
</head>
<app-header> </app-header>
<body>

    <h1>Let's Get Started!</h1>
    <div class="card registration-card mx-auto">
        <div class="card-body">
          <h5 class="card-title">Registration</h5>
          <form>
            <div class="form-group reg-input ">
              <label for="InputFirstName">First Name</label>
              <input type="text" class="form-control" id="InputFirstName" placeholder="First Name">
            </div>
            <div class="form-group reg-input">
                <label for="InputLastName">Last Name</label>
                <input type="text" class="form-control" id="InputLastName" placeholder="Last Name">
              </div>
              <div class="form-group reg-input">
                <label for="InputEmail">Email address</label>
                <input type="email" class="form-control" id="InputEmail" placeholder="Enter email">
              </div>
            <div class="form-group reg-input">
              <label for="InputPassword">Password</label>
              <input type="password" class="form-control" id="InputPassword" placeholder="Password">
            </div>

            <div class="form-group reg-input">
                <label for="Income">What is your annual income?</label>
                <input type="number" class="form-control" id="income" placeholder="Annual Income">
              </div>
            
              <div class="input-group mb-3">
                <select class="custom-select" id="inputGroupSelect02">
                  <option selected>Choose...</option>
                  <option value="1">One</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
                <div class="input-group-append">
                  <label class="input-group-text" for="inputGroupSelect02">Options</label>
                </div>
              </div>

              <div class="form-group reg-input">
                <label for="Income">How much do you want to save every month?</label>
                <input type="number" class="form-control" id="savings" placeholder="Monthly Savings">
              </div>
          </form>
          <a href="#" class="btn btn-primary sign-up-button">Sign Up</a>
        </div>
      </div>

     

</body>
</html>

