body {
    background-color: #d4fcea;
}

h1 {
    font-size: 50px;
    font-weight: 400;
text-align: center; 
}

h5 {
    text-align: center;
}



.registration-card {
    width: 660px;
    margin-top: 30px;

}

.sign-up-button {
    background-color: #03dac5;
    border: 2px solid #03dac5;
    float: left;
    width: 200px;
    margin-top: 62px;
    margin-left: 60px;
    font-size: 18px;
}

.reg-input {
    width: 240px;
    float:left;
    display: inline-block;
    text-align: center;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.state-select {
    width: 240px;
    height: 38px;
    float:left;
    display: inline-block;
    text-align: center;
    margin-left: 32px;
    margin-right: 32px;
    margin-top: 40px;
    margin-bottom: 16px;
    border-color: #dee2e6;
    border-radius: 6px;

}