<nav class="navbar navbar-expand-lg navbar-light" style= "background-color: #d4fcea;">
    <a class="navbar-brand" href="/">
        <div style="display:flex">
          <div style="width:45px; height:auto">
            <img src="assets/GemLogo.png" class="img-fluid">
        </div>
        
        <div style="font-size: 18px; margin-top: 20px;">Gem Budgeting</div>
        </div>
        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/home">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Login/Sign Up</a>
          </li>
    
      </ul>
    </div>
  </nav>